<!DOCTYPE html>
<html>
<head th:replace="~{base :: head('Página Inicial')}"></head>
<body onload="onLoad()">

	<div th:replace="~{base :: logo}"></div>
	
	<div class="container" id="ofertas">
		
		<div th:replace="~{base :: titulo('Faça sua Oferta')}"></div>
		
		<div class="card mb-3" v-for="pedido in pedidos">

			<div class="card-header alert-dark">{{pedido.nomeProduto}}</div>
			
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-sm-8 mb-3">
						<div class="row">
							<div class="col-md-5"> Valor: <input /></div>
							<div class="col-md-7"> Data da entrega: <input /> </div>
						</div>

						<div>Produto:</div>
						<div> <a v-bind:href="pedido.urlProduto"> {{pedido.nomeProduto}} </a> </div>

						<div>Descrição</div>
						<div>
							<textarea class="form-control">{{pedido.descricao}}</textarea>
						</div>
					</div>

					<div class="col-12 col-sm-4">
						<div>
							<img class="img-thumbnail" v-bind:src="pedido.urlImagem" />
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<nav aria-label="...">
	  		<ul class="pagination">
	    		<li class="page-item disabled">
	      			<a class="page-link">Previous</a>
	    		</li>
	    		<li class="page-item"><a class="page-link" href="#">1</a></li>
	    		<li class="page-item active" aria-current="page">
      				<a class="page-link" href="#">2</a>
	    		</li>
	    		<li class="page-item"><a class="page-link" href="#">3</a></li>
	    		<li class="page-item">
	      			<a class="page-link" href="#">Next</a>
	    		</li>
	  		</ul>
		</nav>
	</div>
	
	<script>

		function onLoad() {

			var app = new Vue({
				el : '#ofertas',
				data : {
					pedidos : [
					{
						"id" : 3,
						"nomeProduto" : "Smartwatch",
						"valorNegociado" : null,
						"dataDaEntrega" : null,
						"urlProduto" : "https://mambos.com.br/produto/relogio-inteligente-smartwatch-a-prova-d-agua-com-gps-medidor-de-batimentos-cardiacos-para-android-e-ios/",
						"urlImagem" : "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLYb5C30TCZ15biP-9p8KgDlGJKnGvnYvXTQ&usqp=CAU",
						"descricao" : "",
						"status" : "AGUARDANDO"
					},
					{
						"id" : 2,
						"nomeProduto" : "Monitor Hyrax View HMN170 17\" Tela L… Hyrax Hyrax ",
						"valorNegociado" : null,
						"dataDaEntrega" : null,
						"urlProduto" : "https://www.amazon.com.br/",
						"urlImagem" : "https://www.girafa.com.br/visao/girafa/img/lp2/526/nZV5oHeOr0fJ4L08N8AkUn3UujKZ5i1XDy3R8by7.png",
						"descricao" : "monitor",
						"status" : "AGUARDANDO"
					},
					{
						"id" : 1,
						"nomeProduto" : "Monitor Hyrax View HMN170 17\" Tela LED HD 60Hz HDMI VGA 1280x1024 ",
						"valorNegociado" : null,
						"dataDaEntrega" : null,
						"urlProduto" : "https://www.amazon.com.br/dp/B0BYBL3424/ref=s9_acsd_ri_bw_c2_x_3_t?pf_rd_m=A3RN7G7QC5MWSZ&pf_rd_s=merchandised-search-13&pf_rd_r=VKDH7SB24CQR3XMGS1PV&pf_rd_t=101&pf_rd_p=08b7ec72-3f2c-438c-98fd-ec35ab834473&pf_rd_i=16339926011",
						"urlImagem" : "https://m.media-amazon.com/images/I/31xLs2M-rNL._AC_.jpg",
						"descricao" : "monitor",
						"status" : "AGUARDANDO"
					}]
				}
			})
		}
	</script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</body>
</html>